<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tianshan"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:name="com.tianshan.ZhangWoApp"
        android:debuggable="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name" >
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NavigationBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tab.TabBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PhotoViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewsViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SecondLevelTopicsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DownloadAllMsg"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RecommendAppViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyFavoriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PostActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.SendMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.MessageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReplyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.ForumDisplayViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ViewthreadViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NearPeopleViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShareEditContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AuthorizeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NearbyInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ParseAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.ShowADActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tianshan.activity.SelectAlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />

        <service android:name=".source.ZWService" />
        <service android:name=".source.OfflineService" />
        <service
            android:name="com.tianshan.source.PushService"
            android:label="ZhangWo Push Notifications Service" />
    </application>

</manifest>